*{font-family: 'Hahmlet', serif;}
body {
  	background: rgba(222, 194, 153, 0.71);
  	background-image: url('/media/book.png');
  	background-size: 65%;
  	background-position: center;
  	background-repeat: no-repeat;
}

h1 {
	margin-top:150px;
	font-size: 80px;
	color: black;
}

h3{
	font-size: 30px;
	color: black;
}

.start {
	margin-top: 80px;
	background-color: lightgrey;
	width: 350px;
	height: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 45px;
	font-weight: bold;
	color: white;
	text-decoration:none;
	border-radius: 120px;
	box-shadow: 0 14px 0 grey;
	margin-left:auto;
	margin-right:auto;
}

.start:hover {
	border: 2px solid white;
}

.wrap {
	width: 100%;
	text-align: center;
}

br.break-m {
display: none;
}

@media screen and (max-width: 768px) {

body {
  	background: rgba(222, 194, 153, 0.71);
  	background-size: 65%;
  	background-position: center;
  	background-repeat: no-repeat;
}

h1 {
	margin-top:100px;
	font-size: 40px;
}

h3{
	font-size: 20px;
}

.start {
	width: 150px;
	height: 80px;
	margin-top: 40px;
	font-size: 20px;
}

br.break-m {
display: inline;
}
}
