/* 초기화 */
*{padding: 0;margin: 0;list-style: none;}
#text {
    display: none;
}

body{
    background: rgba(222, 194, 153, 0.71);
}

h1 {
    margin: 4% auto 4%;
    width: 300px;
    text-align: center;
    font-family:'Hahmlet', serif;
}

.ment{
    display: flex;
    margin: auto;
    width: 450px;
    text-align: center;
    justify-content: space-evenly;
    font-size: 30px;
}

img{
    width: 25vw;
    margin:10px auto;
    display: block;
}

p {
    text-align: center;
    font-size: 20px;
    margin: auto;
    display: block;
}

.box {
    margin: 2% auto 2%;
    width: 500px;
    height: 100px;
    border-radius: 5px;
    display: block;
    background-color: white;
    text-align: center;
    text-decoration: none;
    line-height: 600%;
    color: black;
}

/* 버튼*/
a {
    margin: 2% auto 2%;
    width: 500px;
    height: 100px;
    border: 4px solid black;
    border-radius: 5px;
    display: block;
    background-color: white;
    text-align: center;
    text-decoration: none;
    line-height: 600%;
    color: black;
}

a:hover {
    background-color: black;
    color: white;
    text-decoration: underline white;
}